.Haiti1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#Haiti-butto {
    margin-top: 20px;
    border: none;
    background-color: rgb(210, 201, 201);
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30%;
}
#Haiti-butto2 {
    margin-top: 20px;
    border: none;
    background-color: rgb(210, 201, 201);
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30%;
    margin-left: 80px;
    a {
        text-decoration: none;
        color: white;
         
        &:hover {
        text-decoration: none;
        color: black;
        }
    }
    
    &:hover {
        background-color: yellow;
        padding: 22px;
        border-radius: 10%;
        color: black;
      }
}