.Haiti1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#Iraq-butto {
    margin-top: 20px;
    border: none;
    background-color: rgb(210, 201, 201);
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30%;
}
#Iraq-butto2 {
    margin-top: 20px;
    border: none;
    background-color: rgb(210, 201, 201);
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30%;
    margin-left: 80px;
}