.reg-div2{
    text-align: center;
    align-items: center;
    background-color: #333;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15%;
}
.reg-div3 {
    padding: 20px;
    margin: 50px;
    border-radius: 15%;
    background-color: gray;
}
#reg-but {
    margin-left: 50px;
}
#reg-inp {
   background-color: #333;
   color: white;
   padding: 20px;
   border-radius: 10%;
}

#p-reg {
    color: black;
}