.Elon-Musk {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.Elon-Musk-div-child1 {
    margin-left: 100px;
}
.Elon-Musk-div-child2 {
    margin-right: 20%;
}
#Elon-button {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}