.big-div-Panasenkov {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    }
#Panasenkov-id {
    border-radius: 15%;
}
#panasenkov-id {
    padding-left: 20px;
}
#Panasenkov-p {
    padding-left: 10px;
}

