.big-div-Panasenkov {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    }
#Panasenkov-id {
    border-radius: 15%;
}
#panasenkov-id {
    padding-left: 20px;
}
#Panasenkov-p {
    padding-left: 10px;
}
.MapComponentsDiv {
  padding: 40px;
  background-color: #a9a2a2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

