.big-project {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-color: gray;
}
button {
    margin-top: 20px;
    border: none;
    background-color: orangered;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20%;
}
.center-text {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    a {
        text-decoration: none;
        color: snow;
    }
}